# Auto detect text files and perform LF normalization
* text=auto

# Source files
*.ts text diff=typescript
*.js text
*.json text
*.html text diff=html
*.scss text diff=css
*.css text diff=css
*.md text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
